[project]
	description = Amazon Hackathon 2016
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michał Woś (wosiu)
[access "refs/for/refs/*"]
	read = group user/Michał Woś (wosiu)
	push = group user/Michał Woś (wosiu)
	label-Code-Review = -2..+2 group user/Michał Woś (wosiu)
	label-Verified = -1..+1 group user/Michał Woś (wosiu)
	rebase = group user/Michał Woś (wosiu)
	removeReviewer = group user/Michał Woś (wosiu)
	submit = group user/Michał Woś (wosiu)
[access "refs/heads/*"]
	read = group user/Michał Woś (wosiu)
	create = group user/Michał Woś (wosiu)
	push = +force group user/Michał Woś (wosiu)
	pushMerge = group user/Michał Woś (wosiu)
[access "refs/tags/*"]
	push = +force group user/Michał Woś (wosiu)
	pushTag = group user/Michał Woś (wosiu)
	pushSignedTag = group user/Michał Woś (wosiu)
